.app-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--foreground);
}

.content-wrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
